header {
    padding-bottom: 4rem;
}

.study-card {
    grid-column: 2 / 5;
    margin: 3rem 2rem 3rem 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.quote {
    grid-column: 1 / 6;
}

.quote-left {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
}

.problem-statement {
    grid-column: 1 / 11;
}