header {
    padding-bottom: 4rem;
}

.study-card {
    grid-column: 2 / 4;
    margin: 3rem 2rem 3rem 2rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.quote {
    grid-column: 1 / 8;
}

.quote-left {
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
}

.study-container {
    grid-column: 3 / 11;
    padding-top: 4rem;
}